<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="net.cho.web.model.MemberVo" alias="member"/>
		<typeAlias type="net.cho.web.model.ItemVo" alias="item"/>
		<typeAlias type="net.cho.web.model.BoardDTO" alias="board"/>
		<typeAlias type="net.cho.web.model.GuestDTO" alias="guest"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="net/cho/mybatis/mapper/member.xml" />
		<mapper resource="net/cho/mybatis/mapper/item.xml" />
		<mapper resource="net/cho/mybatis/mapper/board.xml" />
		<mapper resource="net/cho/mybatis/mapper/guest.xml" />
	</mappers>
</configuration>
